<form method="post" action="{{ path('app_participaciones_delete', {'id': participacione.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ participacione.id) }}">
    <button class="btn">Delete</button>
</form>
