{% extends 'base.html.twig' %}

{% block title %}Ingresar a un Pool{% endblock %}

{% block body %}
    <h1>Ingresar a un Pool de Inversión</h1>

    {{ include('participaciones/_form.html.twig') }}

    <a style="max-width: 450px" class="btn btn-primary form-control" href="{{ path('dashboard') }}">Volver</a>
{% endblock %}
